body{
    background-color: black;
    color: white;
}

h1{
 display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact;
    font-size: 20rem;
}

h2{
    font-size: 2rem;
}